<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar medico..." (keyup)="buscar(txtTermino.value)" #txtTermino> 
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Medicos ({{ medicos.length }}) </h4>
                        <h6 class="card-subtitle">Medicos registrados</h6>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <a routerLink="/dashboard/medico/nuevo" class="btn btn-primary">
                                <i class="fa fa-hospital-o"></i>
                                Crear Medico
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td class="text-center"> 
                                    <img 
                                            [src]="medico.img | imagen:'medicos'"
                                            [alt]="medico.nombre"
                                            class="w100 cursor"
                                            (click)="abrirImagen(medico)"/>
                                </td>
                                <td>
                                    {{ medico.nombre }}
                                </td>
                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard', 'medico', medico._id]" data-toggle="tooltip" data-original-title="Guardar" class="cursor">
                                        <i class="fa fa-pencil"></i> 
                                    </a>
                                    &nbsp;
                                    <a (click)="borrarMedico(medico)" data-toggle="tooltip" data-original-title="Borrar" class="cursor">
                                         <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
